body {
  width: 800px;
  margin: 0 auto;
  line-height: 1.5em;
}

.logs{
  height: 400px;
  overflow: hidden;
  overflow-y: auto;
  max-width: 800px;
  background-color: #222;
  border-radius: 5px;
  margin: 1em 0;
  font-family: monospace;
  color: #fff;
}

.logs .logs-item {
  font-size: 14px;
  padding:5px 10px;
  line-height: 14px;
}

.logs .logs-item span {
  font-size: 12px;
  color: #e58a6f;
  display: inline-block;
  width: 110px;
}
.logs .logs-item i {
  color: #22863a;
  font-style: normal;
}

.logs .logs-item b {
  color: #d73a49;
  font-weight: 400;
}